$color1:#901C1C;
$color2:#D3573C;
$color3:#525252;
$color4:#FAFAFA;
$color-tag:#979797;
$color-white:#FFFFFF;
$color-error:#FF0000;
$btn-border-radius:4px;

/** Breakpoints Responsive design: tablette et desktop*/
$breakpoints:(
   smartphone:650px,
   desktop: 1000px
);
