.logo-container{
  margin-top: 4rem;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  img{
    width: 350px;
    height: 100%;
    object-fit: cover;
  }
}
//Barre de recherche.
.barreRecherche-container{
  width: 100%;
  background-color: $color2 ;
  border-radius: 0.5rem;
  padding-right: 1rem;
  padding-top: 6px;
  padding-bottom: 6px;
  @include flex (row, space-between, center);
  input{
    width: 100%;
    height: 2.5rem;  
    background-color: $color2 ; 
    border-radius: 0.5rem; 
    border: none;    
    padding-left: 1rem;
    padding-right: 1rem;    
  } 
  .fas{
    font-size: 1.6rem;
    position: relative;
     
  }
}